# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
egg-info/
libs/

# Editor/IDE specific
.vscode/
.idea/

# Environment
.env

# Compiled Python files
*.pyc

# Logs
*.log

# Local development
instance/
.local/

# Dependencies
venv/
lib/
lib64/
bin/
include/
share/
*.egg-info/
.installed.cfg
installed.cfg

# Testing
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Ignore .DS_Store files
**/.DS_Store

# Custom Changes
models/
index/
static/uploads/
feedback.txt
